[submodule "fhem/fhem-config"]
	path = fhem/fhem-config
	url = ssh://git@dckr.fbw9.local:10022/andi/fhem-config.git
[submodule "openhab/openhab-conf"]
	path = openhab/openhab-conf
	url = ssh://git@dckr.fbw9.local:10022/andi/openhab-conf.git
